/* Global styles */
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'public Sans', sans-serif;
    font-size: 10px;
    color: black;
}
body{
    width: 100%;
}
/* p{
    font-size: 1.6rem;
    color: var(--light-grayish-blue: hsl(220, 16%, 96%);) ;
    line-height: 1.6rem;
} */
section{
    padding: 5rem 0;
}
.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* variables */

:root{
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

/* utility classes */
.u-mb-small{
    margin-bottom: 1.6rem;
}

.u-mb-mediuml{
    margin-bottom: 4rem;
}

.u-mb-large{
    margin-bottom: 6rem;
}

/* Header styles */
/* Header styles */
/* Header styles */
/* Header styles */
header{
    width: 100%;
    height: 7.5rem;
    padding: 2.5rem 0;
    background-color: var(--white);
    position: relative;
    z-index: 999;
    /* display: flex; */
}

.logo{
    height: 3rem;
}
.check{
    display: none;
}

.hamburger{
    display: none;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-ul li{
    list-style: none;
    margin: 0 1.6rem;
}

li a{
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--grayish-blue);
    padding-bottom: 3rem;
    position: relative;
}


li a:hover{
    color: var(--dark-blue);

}
nav ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .4rem;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .5s;

    
}
nav ul li a:hover::before{
    opacity: 1;
    transform: scaleX(1);
}

.btn{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    padding: 1.3rem 4rem;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    border-radius: 5rem;
    opacity: 1;
    transform: scaleX(1);
    transition: all .3s;
}
.btn:hover{
    opacity: .8;
    transform: scaleX(1.1);
}

/*Welcome Section*/
/*Welcome Section*/
/*Welcome Section*/
.welcome-section{
    width: 100%;
    background-color: var(--very-light-gray)
}
.container-welcome{
    display: flex;
    flex-direction: column-reverse;

}
.welcome-image{
    display:inline-block;
    text-align: center;
    height: 38rem;
}
.welcome-image::before{
    content: "";
    position: absolute;
    top: 12rem;
    right: 0;
    width: 60rem;
    height: 70rem;
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-image img{
    width: 100%;
    height: 50rem;
    /* margin-bottom: 4rem; */
    transform: translateY(-15rem);
}
.welcome-text{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.welcome-text h1{
    font-size: 4rem;
    font-weight: normal;
    color: var(--dark-blue);
    line-height: 6rem;
  
}






/***************** MEDIA QUERY**************/
/***************** MEDIA QUERY**************/
/***************** MEDIA QUERY**************/
/***************** MEDIA QUERY**************/




/* Mobile mode for Menu page*/
/* Mobile mode for Menu page*/
/* Mobile mode for Menu page*/


@media screen and (max-width: 800px) {
    nav .btn{
        display: none;
    }
    .hamburger{
        display: inline-block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }
    .hamburger img{
        width: 2.5rem;

    }

    .nav-ul{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding: 1rem 0;
        margin-top: 3rem;
        background-color: var(--white);
        border: 1px solid rgb(30, 181, 30);
        border-radius: .4rem;
        transform: translateY(-200%);
        transition: all .5s;
        z-index: 99;
    }
    .nav-ul li{
        padding: 1rem 0;
        font: 1.5rem;
    }

    li a{
        color: var(--dark-blue);
        font-weight: 400;
    }
    li a:hover{
        color: var(--lime-green);
    }
    nav ul li a:hover::before{
        opacity: 0;
    }
    /* Slide the menu when Hamburger is clicked*/
     /* Slide the menu when Hamburger is clicked*/
    #toggle:checked~ .nav-ul{
        transform: translateY(1%);
    }
    #toggle:checked~ .hamburger{
        border: 2px red solid;
        border-radius: 4px;
        padding: 5px;
    }
}

/*Media query for the welcome section*/
/*Media query for the welcome section*/
/* From Mobile to Tablet*/

@media screen and (min-width: 501px) and (max-width: 769px){

    .welcome-image{
        display: inline-block;
        text-align: center;
        height: 38rem;
    }

    .welcome::before{
        top: -35rem;
        right: 0;
        width: 65rem;
        height: 83rem;
        background-image: url(./images/bg-intro-desktop.svg);
    }
    .welcome-image img{
        width: 70%;
        height: 48rem;
        transform: translateY(-15rem);
    }

}

    
