/* Global styles */
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'public Sans', sans-serif;
    font-size: 10px;
    color: black;
}
body{
    width: 100%;
}
/* p{
    font-size: 1.6rem;
    color: var(--light-grayish-blue: hsl(220, 16%, 96%);) ;
    line-height: 1.6rem;
} */
section{
    padding: 5rem 0;
}
.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* variables */

:root{
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

/* utility classes */
.u-mb-small{
    margin-bottom: 1.6rem;
}

.u-mb-mediuml{
    margin-bottom: 4rem;
}

.u-mb-large{
    margin-bottom: 6rem;
}

/* Header styles */
/* Header styles */
/* Header styles */
/* Header styles */
header{
    width: 100%;
    height: 7.5rem;
    padding: 2.5rem 0;
    background-color: var(--white);
    position: relative;
    z-index: 999;
    /* display: flex; */
}

.logo{
    height: 3rem;
}
.check{
    display: none;
}

.hamburger{
    display: none;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
}

.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-ul li{
    list-style: none;
    margin: 0 1.6rem;
    padding: 3rem 4rem;
}

li a{
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--grayish-blue);
    padding-bottom: 3rem;
    position: relative;
}


li a:hover{
    color: var(--dark-blue);

}
nav ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .4rem;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .5s;

    
}
nav ul li a:hover::before{
    opacity: 1;
    transform: scaleX(1);
}

.btn{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    padding: 1.3rem 4rem;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    border-radius: 5rem;
    opacity: 1;
    transform: scaleX(1);
    transition: all .3s;
}
.btn:hover{
    opacity: .8;
    transform: scaleX(1.1);
}

/*Welcome Section*/
/*Welcome Section*/
/*Welcome Section*/
.welcome-section{
    width: 100%;
    background-color: var(--very-light-gray)
}
.container-welcome{
    display: flex;
    flex-direction: column-reverse;

}
.welcome-image{
    display:inline-block;
    text-align: center;
    width: 80%;
    height: 30rem;
}
.welcome-image::before{
    content: "";
    position: absolute;
    top: 12rem;
    right: 0;
    width: 90rem;
    height: 90rem;
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-image img{
    width: 70%;
    height: 100rem;
    margin-bottom: 4rem;
    margin-right: 15rem;
    transform: translateY(-15rem);
}
.welcome-text{
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 5rem;
}

.welcome-text h1{
    font-size: 4rem;
    font-weight: normal;
    color: rgb(85, 85, 163);
    line-height: 6rem;
  
}

.welcome-text p{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(27, 109, 27);
}

/* About Section  */
/* About Section  */
/* About Section  */
/* About Section  */

.about-section{
    background-color: rgb(211, 214, 221);
    width: 100%;
    border-radius: 2px;
}
.about{
    margin: 1rem 3rem;
}

.about-text{
    display: inline-block;
    width: 100%;
    font-size: medium;
    text-align: center;
}
.heading-secondary{
    font-size: 5rem;
    font-weight: normal;
    color: rgb(4, 128, 86);
    line-height: 5rem;
}
.about-item{
    display: grid;
    row-gap: 4rem;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.about-item-box{
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: var(--light-grayish-blue);
}

.heading-tertiary{
    font-size: 25px;
    font-weight: normal;
    color: darkblue;
    line-height: 4rem;
}

/* *************** Article Section**************** */
/* *************** Article Section**************** */
/* *************** Article Section**************** */

.article-section{
    background-color: var(--very-light-gray);
    
}

.article{
    display: grid;
    row-gap: 5rem;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.article-box{
    background-color: var(--white);
    background-origin: 1px solid transperent;
    border-radius: .5rem;
    overflow: hidden;
}
/* .article-box:hover{
    animation-iteration-count: infinite;
    
    
} */

.article-box img{
    width: 100%;
    height: 23rem;
}
.article-content{
    padding: 2rem;
}

.article-author{
    font-size: 1.3rem;
}
.article-heading{
    font-size: 1.7rem;
    font-weight: normal;
    color: var(--dark-blue);
}
.article-except{
    font-size: 1.2rem;

}

/* ***** Footer ****** */
/* ***** Footer ****** */
/* ***** Footer ****** */

footer{
    background-color: var(--dark-blue);
    margin-top: 1rem;
}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 3rem;
    column-gap: 2rem;
    /* height: 20rem; */
}

.footer-icons a{
    padding-right: 1rem;
}

.footer-links ul li{
    padding-bottom: 1.5rem;
    list-style: none;
}
.footer-links ul li a{
    color: var(--grayish-blue);

}

.footer-links ul li a:hover{
    color: var(--lime-green);
    
}



/***************** MEDIA QUERY**************/
/***************** MEDIA QUERY**************/
/***************** MEDIA QUERY**************/





/* Mobile mode for Menu page*/
/* Mobile mode for Menu page*/
/* Mobile mode for Menu page*/


@media screen and (max-width: 800px) {
    nav .btn{
        display: none;
    }
    .hamburger{
        display: inline-block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }
    .hamburger img{
        width: 2.5rem;

    }

    .nav-ul{
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        padding: 1rem 0;
        margin-top: 4rem;
        background-color: var(--white);
        border: 1px solid rgb(97, 210, 97);
        border-radius: .4rem;
        transform: translateY(-200%);
        transition: all .5s;
        z-index: 99;
    }
    .nav-ul li{
        padding: 1rem 0;
        font: 1.5rem;
    }

    li a{
        color: var(--dark-blue);
        font-weight: 400;
    }
    li a:hover{
        color: var(--lime-green);
    }
    nav ul li a:hover::before{
        opacity: 0;
    }
    /* Slide the menu when Hamburger is clicked*/
     /* Slide the menu when Hamburger is clicked*/
    #toggle:checked~ .nav-ul{
        transform: translateY(1%);
    }
    #toggle:checked~ .hamburger{
        border: 2px rgb(0, 255, 136) solid;
        border-radius: 4px;
        padding: 5px;
    }
}

/*Media query for the welcome section*/
/*Media query for the welcome section*/
/* From Mobile to Tablet*/

@media screen and (min-width: 501px) and (max-width: 769px){

    .welcome-image{
        display: inline-block;
        text-align: center;
        height: 38rem;
    }

    .welcome-image::before{
        top: -35rem;
        right: 0;
        width: 65rem;
        height: 83rem;
        background-image: url(./images/bg-intro-desktop.svg);
    }
    .welcome-image img{
        width: 50rem;
        height: 70rem;
        transform: translateY(-15rem);
    }
    .welcome-text{
        text-align: center;
        margin-top: 15rem;
        margin-bottom: 5rem;
    }

}

/* From Tablet to PC*/
/* From Tablet to PC*/
/* From Tablet to PC*/
/* From Tablet to PC*/
@media screen and (min-width:770px){ 
    .welcome-section{
        padding: 1rem 0 1rem 0;

    }
    .container-welcome{
        flex-direction: row;

    }
    .welcome-image::before{
        display: none;
    }
    .welcome-text{
        text-align: left;
        padding: 2rem 2rem;
        width: 85%;
        
    }
    .welcome-image{
        width: 100%;
        position: relative;
    }
    .welcome-image img{
        position: absolute;
        width: 40rem;
        height: 60rem;
        top: -3rem;
        right: 0;
        z-index: 1;
    }

    
      /* About section */
      /* About section */
      
    .about-text{
    width: 50%;
    text-align: left;
    }
    .about-text-box{
        text-align: left;
    }
    
}


/***********Animation Effect***** */
/**********Animation Effect***** */
/****** Animation Effect***** */
@keyframes moveUp{
    0%{
        transform: translateY(100%);
    }
    50%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0%);
    }

}

.moveUp{
    animation: moveUp 1s 1 linear;
}
    
